html, body {
  display: grid;
  justify-content: center;
  align-content: center;

  height: 100%;
  background-color: #96a9bd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bubbles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;

  width: 665px;
}

.bubble-container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 125px;
  height: 125px;
}

.bubble {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(96, 110, 130);
  border-radius: 50%;
  background:rgba(197,255,255,.4);
  box-shadow:inset 10px 10px 50px rgba(200,255,255,.6);
  cursor: pointer;
}

.bubble:before {
  content:"";
  display:block;
  position:absolute;
  width:50%;
  height:50%;
  top:7.5%;
  left:7.5%;
  border-radius: 75% 25%;
  box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
}

.bubble:after {
  content:"";
  display:block;
  position:absolute;
  width:85%;
  height:85%;
  border-radius:100%;
  left:7.5%;
  top:7.5%;
  box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
}

.controls {
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  justify-content: center;
  align-content: center;
  
  width: 100%;
  height: 100%;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.button {
  display:inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border: 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 1rem;
  color:#FFFFFF;
  cursor: pointer;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.button:active{
  top:0.1em;
}